{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "arrowParens": "always"
}